<head>
    <link rel="stylesheet" href="header.component.css">
</head>
    <div class=container>
        <div class="topnav">
            <a href="" class="navbar-item">
                <img
                width="40"
                alt= "Prabh Ki Seva"
                src="assets/img/pks_logo.JPG">
            </a>
            <div class="vertical-center-header">
            <a class="nav-item nav-link header-spacing" routerLink="/">Home</a>
            <a class="nav-item nav-link header-spacing" routerLink="/about">Who We Are</a>
            <a class="nav-item nav-link header-spacing" routerLink="/mission">Our Mission</a>
            <a class="nav-item nav-link header-spacing" routerLink="/donate">How to Donate</a>
            <a class="nav-item nav-link header-spacing" routerLink="/contact">Contact Us</a>
        </div>
        </div>
    </div>
      
  
    